<%- include('partials/header.ejs') %> 

  <h1>Cookie Subscriptions</h1>
<div class="row subscription-row">
  
<% for (i=0; i < packages.length; i++) { %>
    
  <div class="card" style="width: 19rem;">
    <img class="packageImg" src=" <%=packages[i].picture_url%>"/>
    <div class="card-body">
      <h5 class="card-title"><strong><%=packages[i].name%></strong></h5>
      <p class="card-text"><strong>Description: </strong><%=packages[i].description%></p>
      <p class="card-text"><strong>$<%=packages[i].price%></strong>
      </p>
      <a href="/order" class="btn order-btn w-15>">Order Now</a>  
    </div>
  </div>

<% } %>
  
</div>
  
<script src="/js/subscription.js"></script>
<%- include('partials/footer.ejs') %> 